*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
  font-family: sans-serif;
  outline: none;


}

.container{
  height: 100vh;
  display: flex;
  justify-content: center ;
  align-items: center;


}

.cuerpo{
  background-color: white;
  padding: 15px;
  border-radius: 30px;
  box-shadow: inset 5px 5px 12px #ffffff,
                    5px 5px rgba(0,0,0..16);
  display: grid ;
  grid-template-columns: repeat(4, 68px);
  border: 1px solid #DCDEE1;
  background-color: #F7F8FA;
}
input{
  grid-column: span 4;
  background-color: white;
  height: 40px;
  width: 260px;
  border: 1px solid #B3B3B3;
  border-radius: 30px;
  font-size: 40px;
  text-align: end;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 30px;
  padding: 20px;
}
button{
  height: 24px;
  width: 50px;
  border-radius:30%;
  margin: 4px;
  font-size: 16px;
}

.color1{
  background-color: #D6DADE;
}
.color2{
  background-color: #E3E9EE;
}
.color3{
  background-color: #8EAEEE;
}